
.jumbotron {
    
}

.background {
    background-image: url(KakaoTalk_2018-01-14-09-26-27_Photo_35.jpeg);
    color: white;
    background-position: center;
    background-size: cover;
    padding-top: 80px;
    height: 450px;
}

.col-sm-3 {
    xz
}



h4 {
    text-align: center;

}



h1 {
    text-align: center;
}

.title {
    
    margin: 30px;
}

center-image
}

.row {
    
}

.img01 {
    margin-left : auto ; 
    margin-right : auto ; 
    display : block ;
    
}



.form-control-lg02 {

    height: 100%;
}
}

.dark_bg {
    background-color: black;
    
}

.col-md-6 {
    
}

.btn-lg {
    
}

.dark-background {
    background-color: gray;
    padding: 30px;
    
    
}

.031 {
    text-align: left;
    
}



p {
    text-align: center;
    
}

.01box {
    padding: 20px;
    
}

h2 {
    text-align: center;
    color: aliceblue;
    margin-bottom: 20px;
    
}
